@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #503c3b;
  --secondary-color: 237, 206, 171;
  --primary-color-op: 222, 217, 217;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 230, 228, 228;
  --background-end-rgb: 255, 255, 255;
}

.vm-bg {
  background-color: rgb(var(--background-start-rgb));
}

.vm-bg-dark {
  background-color: var(--primary-color);
}

.vm-bg-primary {
  background-color: rgb(var(--primary-color));
}
.vm-bg-primary-op {
  background-color: rgb(var(--primary-color-op));
}
.vm-container {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

.MuiCard-root {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px,
    rgba(0, 0, 0, 0.03) 0px 0px 0px 0.5px !important;
  border-radius: 20px !important;
}

.MuiCardHeader-title {
  font-size: 1.0417rem !important;
  font-weight: 700 !important;
}

.MuiCardHeader-root {
  padding: 32px 24px 16px !important;
}

.MuiListItemText-root {
  flex: 1 1 auto;
  min-width: 0px;
  display: flex;
  flex-direction: column !important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.MuiListItem-divider {
  border-bottom: 1px solid rgb(242, 244, 247) !important;
}

.vm-shadow-sm {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 30px !important;
}

.vm-shadow-xs {
  box-shadow: rgba(0, 0, 0, 0.06) 1px 2px 6px 0px !important;
}
.MuiDivider-root {
  border-color: rgb(242, 244, 247) !important;
}

@media (min-width: 600px) {
  .vm-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1200px) {
  .vm-container {
    max-width: 1200px;
  }

  .vm-drawer {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .vm-sidebar {
    display: none !important;
  }

  .vm-dashbody {
    padding-left: 0 !important;
    width: 100% !important;
    left: 0 !important;
  }

  .vm-header {
    left: 0 !important;
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .vm-dashbody {
    width: 100% !important;
    left: 0 !important;
  }
}
