@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 84, 59, 59;
  --secondary-color: 237, 206, 171;
  --primary-color-op: 222, 217, 217;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 230, 228, 228;
  --background-end-rgb: 255, 255, 255;
}

.vm-bg {
  background-color: rgb(var(--background-start-rgb));
}

.vm-bg-primary {
  background-color: rgb(var(--primary-color));
}
.vm-bg-primary-op {
  background-color: rgb(var(--primary-color-op));
}
.vm-container {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

.vm-shadow-sm {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 30px !important;
}

.vm-shadow-xs {
  box-shadow: rgba(0, 0, 0, 0.06) 1px 2px 6px 0px !important;
}
.MuiDivider-root {
  border-color: rgb(242, 244, 247) !important;
}

@media (min-width: 600px) {
  .vm-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1200px) {
  .vm-container {
    max-width: 1200px;
  }

  .vm-drawer {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .vm-sidebar {
    display: none !important;
  }

  .vm-dashbody {
    padding-left: 0 !important;
  }

  .vm-header {
    left: 0 !important;
    width: 100% !important;
  }
}
